h3 {
	color: $color-lite;
}

a {
	color: $color-lblue;
}

ul {
	padding-top: 20px;
	padding-down: 20px;
}

img {
	height: auto;
	width: 100%;
}

dl {
	border-bottom: 1px solid #ccc;
	margin: 0 0 2.4rem 0;
	padding-bottom: 2rem;
}

dt {
	margin: 1.8rem 0 .65rem 0;
}

